
.sidebar-menu {
  width: 100%;
  min-height: 90px;

  /* background: rgba(190,190,190,0.2); */
}

.menu-header {
  width: 100%;
  flex-direction: row;
  margin-top: 5px;
  height: 40px;

  /* background: rgba(190, 190, 190, 0.2); */
}

.menu-header svg{
  width: 32px;
  height: 32px;
}

.menu-header span{
  margin-left: 5px;
  display: block;
  letter-spacing: -0.07em;
  font-weight: 500;
  color: #F9E1E1;
  font-size: 1.2em;
}

.menu-items {
  list-style: none;
  width: 100%;
  /* background: rgba(190,190,190,0.2); */
}

.menu-item {
  padding: 0 20px;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 40px);
  color: #DBDBDB;
  height: 48px;
  margin-bottom: 1px;
  background: linear-gradient(90deg, #72122F 0%, #B74754 100%);
  transition: all 0.15s ease-in
}

.menu-item:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #8D2A48 0%, #BF4E5B 100%);
  transition: all 0.15s ease-in
}

.menu-item:active {
  transform: scale(0.87);
  transition: all 0.1s ease-in
}

.menu-name {
  flex-direction: row;
  font-size: 1.05em;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.menu-name svg{
  margin-right: 3px;
  height: 27px;
  width: 27px;
}

.menu-station {
  width: 50px;
  border-radius: 3px;
  line-height: 25px;
  height: 25px;
  color: #00DBE9;
  padding-right: 5px;
  text-align: right;
  background: #691D34;
  font-size: 0.8em;
}




















/*    <div className="sidebar-menu">
        <div className='content-center menu-header text-3'>
          <Globe/>
          <span>Seach by Continent</span>
        </div>
        <ul className='menu-items'>
          <li className='menu-item'>
            <span className='menu-name'>Europe</span>
            <span className='menu-station'>3,258</span>
          </li>
        </ul>
      </div> */